@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<G4S.Modules.NewsList.Models.NewsList>
<div class="news row">
    <div class="col col-xs-10 col-xs-offset-1 col-md-9 col-md-offset-2 entry-content entry-content">
        <h2>@Model.Title</h2>
        @if (Model.NewsItems != null)
        {
            foreach (var newsitem in Model.NewsItems)
            {
                <div class="news-item">
                    <h4 class="primary">@String.Format("{0:d. MMM yyyy}", newsitem.Date) </h4>
                    <a class="black" href="@newsitem.Url" target="_self" title="@Model.ReadNewsLinkText"><h3>@Editable(newsitem, x => x.Title)</h3></a>
                    <p>@Editable(newsitem, x => x.SummaryText) <a class="btn btn-square bg-transparent primary" href="@newsitem.Url" target="_self" title="@Model.ReadNewsLinkText"><i class="icon icon-arrow-right"></i></a></p>
                </div>
            }
        }
    </div>
</div>
