@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<G4S.Modules.Video.Models.Video>

@{  var imageUrl = "";
    if (@Model.Image != null)
    {
        imageUrl = @Model.Image.Src;
    }
}
<div class="video js-video ratio-16/4" data-video-url="@Model.VideoUrl" style="background-image:url('@imageUrl')">

    @if (IsInEditingMode)
    {
        <div class="video-overlay js-video-overlay">
            <div class="content">
                <div class="row">
                    <div class="col col-xs-10 col-xs-offset-1 col-md-6 white">

                            Video URL : @Editable(Model, x => x.VideoUrl)
                            <br/>
                            Baggrunds Billede :
                            @RenderImage(m => m.Image, isEditable: true)
                    </div>
                </div>
            </div>
        </div>
    }
</div>
